spring:
  datasource:
    url: jdbc:mysql://localhost:3306/voicebot_db?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: wkdehf6969

  data:
    mongodb:
      uri: mongodb://localhost:27017/DB?allowPublicKeyRetrieval=true
    redis:
      host: localhost
      port: 6379
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

orchestrator:
  api:
    base-url: "http://127.0.0.1:8001"

server:
  port: 8080

jwt:
  secret: your-secret-key-should-be-very-long-and-secure-at-least-32-characters
  expiration: 86400 # 24시간
  access-token-minutes: 60
  refresh-token-days: 7

logging:
  level:
    root: INFO
    DB.management: DEBUG
